@media only screen and (min-width: 2001px) {
	#app{
		padding-top: 14rem;
		padding-bottom: 14rem;
		padding-left: calc(420.3px + ( (100vw - 2300px) * 0.3438 ));
		padding-right: calc(383.9px + ( (100vw - 2300px) * 0.3362 ));
	}  
	.modal .modal-content{
		width: calc(920px + ( (100vw - 2300px) * 0.1984 ));
	}  
	.modal.sm .modal-content{
		width: calc(552px + ( (100vw - 2300px) * 0.184 ));
	} 	
}

@media only screen and (max-width: 2000px) and (min-width: 1281px) {
	#app{
		padding: 14rem 16rem 14rem 19rem;
	}  
	.modal .modal-content{
		width: 48vw;
	}  
	.modal.sm .modal-content{
		width: 30vw;
	} 
}

@media only screen and (min-width: 1281px) {
	html {
		font-size: calc(9.6px + ( (1281px - 100vw) * (-1 * 0.00250) ) );
	}
}

@media only screen and (max-width: 1280px) {
	html {
	  font-size: calc(10px - ( (1280px - 100vw) * 0.0013043 ) );
	}
}

/*
|--------------------------------------------------------------------------
| Tablet Layout
|--------------------------------------------------------------------------
|
*/

@media only screen and (max-width: 1100px){	
	#app{
		padding: 14rem 4vw 18rem;
	}

	.topbar, .toolbar{
		padding: 1.2rem 4vw;
	}

	.topbar .user-thumbnail .user-name{
		width: 1px; height: 1px;
		visibility: hidden;
	}

	.topbar .show-sidebar-btn{
		display: flex;
	}

	.sidebar{
		overflow-y: auto;
		background-color: #131628;
		transform: translateX(-100%);
	}

	.sidebar.shown{
		transform: translateX(0);
	}	

	.sidebar .hide-sidebar-btn{
		display: inline-block;
	}

	.modal .modal-content{
		width: 80vw;
	}

	.modal.sm .modal-content{
		width: 50vw;
	}	

	.floating-btn{
		right: 7vw;
		bottom: 6rem;
	}
	.grid.collapsed-on-tablet{
		grid-template-columns: auto;
	}	
}

@media only screen and (max-width: 1000px){		
}

@media only screen and (max-width: 900px){
	.footer{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

@media only screen and (max-width: 800px){

}

/*
|--------------------------------------------------------------------------
| Mobile Layout
|--------------------------------------------------------------------------
*/

@media only screen and (max-width: 700px){
	#app{
		padding: 14rem 3vw 10rem;
	}
	.sidebar{
		width: 60vw;
	}
	.topbar, .toolbar{
		padding: 1.2rem 3vw;
	}
	.main-navs .sidebar-item{
		font-size: 1.4rem;
	}		
	.modal .modal-content, .modal.sm .modal-content{
		width: 92vw;
	}
	.table-stats{
		width: 100%;
	}
	.sliding-stats-container > .stats-card{
		width: 80%;
	}
	.full-on-mobile-btn{
		width: 100%;
	}	
	.confirm-popup .confirm-popup-content{
		max-width: 92vw;
	}	
	.grid.collapsed-on-mobile{
		grid-template-columns: auto;
	}	
}

@media only screen and (max-width: 600px){
}

@media only screen and (max-width: 500px){

}